#svg-container {
    width: 100%;
    max-height: 600px;
	max-width: 1200px;
    overflow-y: auto;
	overflow-x: hidden;
    border: 1px solid #ccc;
}

#xp-bar-chart {
    display: block;
    background-color: white;
}


rect {
    stroke: #007bff;
    stroke-width: 2;
    fill: rgba(0, 123, 255, 0.7);
    transition: fill 0.3s;
}

rect:hover {
    fill: rgba(0, 123, 255, 1);
}

text {
    fill: black;
    font-family: Arial, sans-serif;
    font-size: 12px;
}


